@import 'hamburgers/dist/hamburgers.css';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Montserrat', serif;
}

:root {
	--orange-main: #ff7d1a;
	--light-gray: #f7f8fd;
}

body {
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
	.nav {
		.active {
			left: 0;
		}

		.active-cart {
			visibility: visible;
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__left-side {
			display: flex;
			align-items: center;
		}

		&__list {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.hamburger-active {
			padding: 1.8em;
			margin-bottom: 1.8em;
		}

		&__items {
			position: fixed;
			top: 0;
			left: -100%;
			width: 150px;
			height: 100vh;
			background-color: #ffffff;
			box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
			gap: 1rem;
			transition: left 0.3s ease;
			z-index: 1000;
		}

		&__item {
			padding: 0.6em;
			font-size: 2rem;
			list-style: none;
			cursor: pointer;
		}

		&__right-side {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		&__cart {
			margin-right: 0.4em;
		}

		&__cart-icon {
			font-size: 2.8rem;
			cursor: pointer;
		}

		&__cart-list {
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: -220px;
			z-index: 1000;
			box-shadow: 0 20px 50px -20px #1d201c80, 0 22px 18px #1d201c06, 0 100px 80px #1d201c0a;
			width: 300px;
			border-radius: 8px;
		}

		&__cart-list-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.6em 2em;
			border-bottom: 1px solid rgb(216, 216, 216);
		}

		&__cart-list-header-title {
			font-size: 1.6rem;
			font-weight: 600;
		}

		&__cart-list-header-icon {
			font-size: 2.6rem;
			padding: 0.4em;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: var(--orange-main);
			}
		}

		&__cart-list-product {
			padding: 0.6em 2em;
			height: 220px;
		}

		&__cart-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__cart-item-info {
			font-size: 1.4rem;
			padding-left: 1em;
		}

		&__cart-item-icon {
			font-size: 2rem;
		}

		&__cart-item-img {
			width: 70px;
			height: 70px;
		}

		&__cart-list-product-info {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 1.6rem;
			font-weight: 600;
		}

		&__cart-item-price-sum {
			font-weight: bold;
		}

		&__avatar-container {
			padding: 1.5em;
		}

		&__avatar {
			cursor: pointer;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		@media (min-width: 768px) {
			&__cart-list {
				left: -280px;
			}
		}
	}

	.main {
		&__slider {
			position: relative;
			width: 100%;

			overflow: hidden;
		}

		&__slider-container {
			display: flex;
			transition: transform 0.5s ease-in-out;
		}

		&__slider-image {
			display: flex;
			min-width: 100%;
			height: auto;
		}

		&__slider-btn {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			transform: translateY(-50%);
			background-color: white;
			color: black;
			border: none;
			padding: 10px;
			width: 40px;
			height: 40px;
			border-radius: 50px;
			cursor: pointer;
			font-size: 1.6rem;

			&--prev {
				left: 10px;
			}

			&--next {
				right: 10px;
			}
		}

		.product-details {
			padding: 1em 2em;
			&__brand {
				font-size: 2rem;
				letter-spacing: 2px;
				margin: 1em 0 0.2em 0;
			}

			&__title {
				font-size: 2.8rem;
				margin: 0.4em 0;
			}

			&__description {
				margin: 0.4em 0;
				font-size: 1.6rem;
			}

			&__current-price {
				font-size: 3rem;
				font-weight: bold;
			}

			&__current-price-container,
			&__old-price-container {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&__price {
				display: flex;
				justify-content: space-between;
				margin: 2em 0;
			}

			&__discount {
				background-color: black;
				color: white;
				font-weight: bold;
				margin-left: 0.6em;
				font-size: 1.8rem;
				border-radius: 8px;
				padding: 0.4em 0.8em;
			}

			&__old-price {
				text-decoration: line-through;
				font-size: 1.8rem;
			}

			&__quantity {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__quantity-btns-container {
				position: absolute;
				top: 50%;
			}

			&__quantity-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 40px;
				width: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				border: none;
				font-size: 1.8rem;
				color: var(--orange-main);
				cursor: pointer;

				&--decrease {
					margin-left: 1.8em;
					left: 0;
				}

				&--increase {
					margin-right: 1.8em;
					right: 0;
				}
			}

			&__quantity-value-container {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				margin: 3em 0.5em 1em 0.5em;
			}

			&__quantity-value {
				border: none;
				text-align: center;
				background-color: var(--light-gray);
				width: 100%;
				padding: 1em 0.5em;
				border-radius: 12px;
				font-size: 2rem;

				:focus {
					border: 1px solid var(--orange-main);
				}
			}

			&__add-to-cart {
				background: none;
				border: none;
				width: 100%;
				height: 50px;
				font-size: 1.8rem;
				font-weight: 600;
				background-color: var(--orange-main);
				border-radius: 12px;
				cursor: pointer;

				i {
					margin-right: 0.6em;
				}
			}
			@media (min-width: 996px) {
				padding-left: 12em;

				&__price {
					align-items: start;
					flex-direction: column;
				}

				&__old-price {
					margin-top: 0.6em;
				}

				&__cart {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-top: 2em;
				}

				&__quantity-value-container {
					margin: 0;
				}

				&__add-to-cart {
					margin-left: 2em;
					height: 100%;
					padding: 20px 10px;
				}

				&__quantity-btn {
					&--decrease {
						margin-left: 0.4em;
					}

					&--increase {
						margin-right: 0.4em;
					}
				}

				&__brand {
					margin: 2em 0 0.4em 0;
				}

				&__title {
					font-size: 3.6rem;
				}

				&__description {
					margin: 1em 0;
				}
			}
		}
		@media (min-width: 450px) {
			&__slider {
				margin-left: auto;
				margin-right: auto;
				max-width: 400px;
				border-radius: 12px;
			}
		}

		@media (min-width: 996px) {
			&__container {
				display: flex;
				padding: 12em 0;
			}
		}
	}
}
