* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Montserrat', serif;
}

:root {
	--orange-main: #ff7d1a;
	--orange-main-hover: #fdac6d;
	--light-gray: #f7f8fd;
	--dark-hover: #363636;
}

body {
	.wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
	}
	.nav {
		.active {
			left: 0;
		}

		.active-cart {
			visibility: visible;
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__left-side {
			display: flex;
			align-items: center;
		}

		&__list-mobile {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.hamburger-normal, .hamburger-active {
			padding: 1.8em;
			background: none;
			border: none;
		}

		.hamburger-normal-icon, .hamburger-active-icon {
			font-size: 4rem;
		}

		.hamburger-active {
			margin-bottom: 1.8em;
		}

		&__items-mobile {
			position: fixed;
			top: 0;
			left: -100%;
			width: 150px;
			height: 100vh;
			background-color: #ffffff;
			box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
			gap: 1rem;
			transition: left 0.3s ease;
			z-index: 1000;
		}

		&__item-mobile {
			padding: 0.6em;
			font-size: 2rem;
			list-style: none;
			cursor: pointer;
		}

		&__list-desktop {
			display: flex;
			align-items: center;
			list-style: none;
		}

		&__item-desktop {
			font-size: 1.6rem;
			padding: 0.4em 0.8em;
			cursor: pointer;
		}

		&__right-side {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
		}

		&__cart {
			margin-right: 0.4em;
		}
		
		&__cart-icon {
			font-size: 2.8rem;
			cursor: pointer;
			transition: color .3s;
			
			&:hover {
				color: var(--dark-hover);
			}
		}
		
		&__cart-list {
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: -220px;
			z-index: 1000;
			box-shadow: 0 20px 50px -20px #1d201c80, 0 22px 18px #1d201c06, 0 100px 80px #1d201c0a;
			width: 300px;
			border-radius: 8px;
			background-color: white;
		}

		&__cart-list-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0.6em 2em;
			border-bottom: 1px solid rgb(216, 216, 216);
		}

		&__cart-list-header-title {
			font-size: 1.6rem;
			font-weight: 600;
		}

		&__cart-list-header-icon {
			font-size: 2.6rem;
			padding: 0.4em;
			cursor: pointer;
			transition: color 0.3s;

			&:hover {
				color: var(--orange-main);
			}
		}

		&__cart-list-product {
			padding: 0.6em 2em;
			height: 220px;
			overflow: auto;
		}
		
		&__cart-checkout-btn {
			width: 100%;
			background: none;
			padding: 1em 2em;
			border: none;
			background-color: var(--orange-main);
			transition: background-color .3s;
			border-radius: 12px;
			font-size: 1.6rem;
			font-weight: 600;
			cursor: pointer;

			&:hover {
				background-color: var(--orange-main-hover);
			}
		}

		&__cart-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1em;
		}

		&__cart-item-info {
			font-size: 1.4rem;
			padding-left: 1em;
		}

		&__cart-item-icon {
			font-size: 2rem;
			padding: .6em;
			cursor: pointer;
		}

		&__cart-item-img {
			width: 70px;
			height: 70px;
		}
		
		&__cart-checkout-btn-container {
			margin: 1em 2em;
		}

		&__cart-list-product-info {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 1.6rem;
			font-weight: 600;
		}

		&__cart-item-price-sum {
			font-weight: bold;
		}

		&__avatar-container {
			padding: 1.5em;
		}

		&__avatar {
			cursor: pointer;
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		@media (max-width: 768px) {
			&__list-desktop {
				display: none;
			}
		}

		@media (min-width: 768px) {
			border-bottom: 1px solid var(--light-gray);

			&__cart-list {
				left: -280px;
			}

			&__list-mobile {
				display: none;
			}

			&__logo {
				margin-right: 4em;
			}
		}
	}

	.main {
		&__slider-mobile {
			position: relative;
			width: 100%;

			overflow: hidden;
		}

		&__slider-mobile-container {
			display: flex;
			transition: transform 0.5s ease-in-out;
			margin: 4em 0;
		}

		&__slider-mobile-image {
			display: flex;
			min-width: 100%;
			height: auto;
		}

		&__slider-btn {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			transform: translateY(-50%);
			background-color: white;
			color: black;
			border: none;
			padding: 10px;
			width: 40px;
			height: 40px;
			border-radius: 50px;
			cursor: pointer;
			font-size: 1.6rem;

			&--prev {
				left: 10px;
			}

			&--next {
				right: 10px;
			}
		}

		&__gallery-photos-desktop {
			width: 100%;
			overflow: hidden;
		}

		&__gallery-desktop-container {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		&__gallery-desktop-main-image {
			width: 400px;
			border-radius: 12px;
		}

		&__other-photo {
			display: flex;
			justify-content: space-between;
			margin-top: 2em;
		}

		&__gallery-desktop-main-image-btn {
			cursor: pointer;
			border: none;
			border-radius: 12px;
		}

		&__gallery-desktop-image-btn {
			background: none;
			width: 80px;
			height: 80px;
			border-radius: 8px;
			border: none;
			transition: filter 0.3s ease;
			cursor: pointer;

			&:focus {
				border: 2px solid var(--orange-main);
			}

			&:hover {
				filter: brightness(0.8);
			}
		}

		&__gallery-desktop-image {
			width: 100%;
			height: 100%;
			border-radius: 8px;
			object-fit: cover;
		}

		.product-details {
			padding: 1em 2em;
			max-width: 400px;
			margin-right: auto;
			margin-left: auto;
			&__brand {
				font-size: 2rem;
				letter-spacing: 2px;
				margin: 1em 0 0.2em 0;
			}

			&__title {
				font-size: 2.8rem;
				margin: 0.4em 0;
			}

			&__description {
				margin: 0.4em 0;
				font-size: 1.6rem;
			}

			&__current-price {
				font-size: 3rem;
				font-weight: bold;
			}

			&__current-price-container,
			&__old-price-container {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&__price {
				display: flex;
				justify-content: space-between;
				margin: 2em 0;
			}

			&__discount {
				background-color: black;
				color: white;
				font-weight: bold;
				margin-left: 0.6em;
				font-size: 1.8rem;
				border-radius: 8px;
				padding: 0.4em 0.8em;
			}

			&__old-price {
				text-decoration: line-through;
				font-size: 1.8rem;
			}

			&__quantity {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__quantity-btns-container {
				position: absolute;
				top: 50%;
			}

			&__quantity-btn {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				height: 40px;
				width: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: none;
				border: none;
				font-size: 1.8rem;
				color: var(--orange-main);
				cursor: pointer;
				transition: color .3s;

				&:hover {
					color: var(--orange-main-hover);
				}

				&--decrease {
					left: 0;
				}

				&--increase {
					right: 0;
				}
			}

			&__quantity-value-container {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				margin: 3em 0.5em 1em 0.5em;
			}

			&__quantity-value {
				border: none;
				text-align: center;
				background-color: var(--light-gray);
				padding: 1em 0.5em;
				width: 100%;
				border-radius: 12px;
				font-size: 2rem;
			
				:focus {
					border: 1px solid var(--orange-main);
				}
			
				&::-webkit-inner-spin-button,
				&::-webkit-outer-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			
				& {
					-moz-appearance: textfield;
				}
			}
			

			&__add-to-cart {
				display: flex;
				justify-content: center;
				align-items: center;
				background: none;
				border: none;
				width: 100%;
				height: 50px;
				font-size: 1.8rem;
				font-weight: 600;
				background-color: var(--orange-main);
				border-radius: 12px;
				cursor: pointer;
				transition: background-color .3s;

				span {
					margin-right: 0.4em;
				}

				&:hover {
					background-color: var(--orange-main-hover);
				}
			}
			@media (min-width: 996px) {
				padding-left: 12em;
				max-width: 100%;

				&__price {
					align-items: start;
					flex-direction: column;
				}

				&__old-price {
					margin-top: 0.6em;
				}

				&__cart {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-top: 2em;
				}

				&__quantity-value-container {
					margin: 0;
				}

				&__add-to-cart {
					margin-left: 2em;
					height: 100%;
					padding: 20px 10px;
				}

				&__brand {
					margin: 2em 0 0.4em 0;
				}

				&__title {
					font-size: 3.6rem;
				}

				&__description {
					margin: 1em 0;
				}
			}
		}
		@media (min-width: 450px) {
			&__slider-mobile {
				margin-left: auto;
				margin-right: auto;
				max-width: 400px;
				border-radius: 12px;
			}
		}

		@media (max-width: 996px) {
			&__gallery-desktop {
				display: none;
			}
		}

		@media (min-width: 996px) {
			&__gallery-mobile {
				display: none;
			}
			&__container {
				display: flex;
				padding: 12em 0;
			}
		}
	}
}
